:root {
  --bg-orange:       #F46A05;
  --bg-orange-hover: #D85F08;
  --bg-black:        #000000;
  --bg-marron-1:     #757575;
  --bg-marron-2:     #F4F4F4;
  --bg-white:        #FFFFFF;
  --bg-yellow:       #fcb705;
  --bg-roxo:         #E9008C;
}